body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.606);
    }
          
    .container {
    text-align: center;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    }
          
    h1 {
    margin-bottom: 20px;
    }
          
    .color-display {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    border: 2px solid #333;
    transition: background-color 0.3s ease;
    border-radius: 7px;
    }
          
    button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
          
    button:hover {
    background-color: #555;
    }
          
    p {
    font-size: 18px;
    font-weight: bold;
    }
          